<!DOCTYPE html>
<html>
  <head>
    <title>It's <%=who %></title>
  </head>
  <body>
    <header>
    </header>
    <section>
        <h1>It's <%=who %> and it's <%=what %></h1>
    </section>
    <footer>
    </footer>
  </body>
</html>